{% if page_title %}
{% if page.breadcrumb %}
<section class="page-header mb-lg">
    <div class="container">
        <ul class="breadcrumb">
            {{ page.breadcrumb }}
        </ul>
    </div>
</section>
{% endif %}
{% endif %}
